body {
background-color: rgb(105, 80, 77);
color: aliceblue;
}
.card{
    background-color: rgb(105, 80, 77);
    color: aliceblue;
}
.card-body{
    background-color: rgb(105, 80, 77);
    color: aliceblue;
}